<a class=" btn btn-secondary btn-lg" style="position: absolute;" href="/home"> go Back</a>
<body class="dark">
    <div class="main-container">
        <div class="main-content">
            <section class="home  section" id="home">
                <div class="container">
                    <div class="row">
                        <div class="home-info padd-15">
                            <h3 class="hello">Hello, my name is <span class="name">Youssef Jneyah</span></h3>
                            <h3 class="my-profession">I'm a <span class="typing">Web Developer</span></h3>
                            <p>I'm a junior full-stack Web Developer working mainly with Java and Angular. </p>
                            <a href="#" class="btn">Download CV</a>
                        </div>
                        <div class="home-img padd-15">
                            <img src="../assets/youssef_jneyah.jpg"
                                alt="Me">
                        </div>
                    </div>
                </div>
            </section>
         
            <section class="service section" id="services">
                <div class="container">
                    <div class="row">
                        <div class="section-title padd-15">
                            <h2>Services</h2>
                        </div>
                    </div>
                    <div class="row">
                        <div class="service-item padd-15">
                            <div class="service-item-inner">
                                <div class="icon">
                                    <i class="fa fa-mobile-alt"></i>
                                </div>
                                <h4>Mobile Development</h4>
                                <p>Mobile applications with kotlin and java</p>
                            </div>
                        </div>
                        <div class="service-item padd-15">
                            <div class="service-item-inner">
                                <div class="icon">
                                    <i class="fa fa-laptop-code"></i>
                                </div>
                                <h4>software Development</h4>
                                <p>implementing solutions for softwares</p>
                            </div>
                        </div>
                        <div class="service-item padd-15">
                            <div class="service-item-inner">
                                <div class="icon">
                                    <i class="fa fa-palette"></i>
                                </div>
                                <h4>Web Design</h4>
                                <p>Design web pages with figma etc...</p>
                            </div>
                        </div>
                        <div class="service-item padd-15">
                            <div class="service-item-inner">
                                <div class="icon">
                                    <i class="fa fa-code"></i>
                                </div>
                                <h4>Web Development</h4>
                                <p>Implementing Responsive Web sites</p>
                            </div>
                        </div>
                        <div class="service-item padd-15">
                            <div class="service-item-inner">
                                <div class="icon">
                                    <i class="fa fa-search"></i>
                                </div>
                                <h4>Research</h4>
                                <p>Up-to-date with latest versions</p>
                            </div>
                        </div>
                        <div class="service-item padd-15">
                            <div class="service-item-inner">
                                <div class="icon">
                                    <i class="fa fa-bullhorn"></i>
                                </div>
                                <h4>Marketing</h4>
                                <p>Sponsoring and marketing products</p>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
          
            <section class="contact section" id="contact">
                <div class="container">
                    <div class="row">
                        <div class="section-title padd-15">
                            <h2>Contact Me</h2>
                        </div>
                    </div>
                    <div class="row">
                        <div class="contact-info-item padd-15">
                            <div class="icon"><i class="fa fa-phone"></i></div>
                            <h4>Call Me On</h4>
                            <p>+216 50252392</p>
                        </div>
                        <div class="contact-info-item padd-15">
                            <div class="icon"><i class="fa fa-map-marker-alt"></i></div>
                            <h4>Location</h4>
                            <p>Sousse, Tunisia.</p>
                        </div>
                        <div class="contact-info-item padd-15">
                            <div class="icon"><i class="fa fa-envelope"></i></div>
                            <h4>Email</h4>
                            <p>youssefjneyah@gmail.com</p>
                        </div>
                        <div class="contact-info-item padd-15">
                            <div class="icon"><i class="fa fa-globe-europe"></i></div>
                            <h4>Website</h4>
                            <p>github.com/youssefjn</p>
                        </div>
                    </div>
                    <div class="row">
                        <form action="https://formsubmit.co/49901b4e3edb55daca04a983c6b862bf" method="POST" >
                        <div class="contact-form padd-15">
                            <div class="row">
                                <div class="form-item col-6 padd-15">
                                    <div class="form-group">
                                        <input type="text" class="form-control" id="name" name="name" placeholder="Name">
                                    </div>
                                </div>
                                <div class="form-item col-6 padd-15">
                                    <div class="form-group">
                                        <input type="email" class="form-control" id="email" name="email" placeholder="Email">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="contact-form padd-15">
                            <div class="row">
                                <div class="form-item col-12 padd-15">
                                    <div class="form-group">
                                        <textarea name="message" class="form-control" id="message" placeholder="Message"></textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="contact-form padd-15">
                            <div class="row">
                                <div class="form-item col-12 padd-15">
                                    <div class="form-group">
                                        <button type="submit" class="btn">Send Message</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                    </div>

                </div>
            </section>
        </div>
    </div>

</body>