<body class="dark">
    <div class="main-container">
        <section class="portfolio section">
            <div class="container">
                <div class="row">
                    <div class="section-title padd-15">
                        <h2>Welcome </h2>
                    </div>
                </div>
                <div class="row">
                    <div class="portfolio-heading padd-15">
                        <h2>Click on what you want to check : </h2>
                    </div>
                </div>
                <div class="row">
                    <div class="portfolio-item padd-15">
                        <div class="portfolio-item-inner shadow-dark">
                            <div class="portfolio-img">
                                <img src="https://cdn-icons-png.flaticon.com/512/4052/4052984.png" alt="image 1"
                                    routerLink="/weather">
                            </div>
                        </div>
                    </div>
                    <div class="portfolio-item padd-15">
                        <div class="portfolio-item-inner shadow-dark">
                            <div class="portfolio-img">
                                <img src="https://cdn-icons-png.flaticon.com/512/3445/3445817.png" alt="image 2"
                                    routerLink="/store">
                            </div>
                        </div>
                    </div>
                    <div class="portfolio-item padd-15">
                        <div class="portfolio-item-inner shadow-dark">
                            <div class="portfolio-img">
                                <img src="https://cdn-icons-png.flaticon.com/512/2593/2593549.png" alt="image 3"
                                    routerLink="/blog">
                            </div>
                        </div>
                    </div>
                    <!-- <div class="portfolio-item padd-15">
                <div class="portfolio-item-inner shadow-dark">
                    <div class="portfolio-img">
                        <img src="" alt="image 4">
                    </div>
                </div>
            </div>
            <div class="portfolio-item padd-15">
                <div class="portfolio-item-inner shadow-dark">
                    <div class="portfolio-img">
                        <img src="" alt="image 5">
                    </div>
                </div>
            </div>
            <div class="portfolio-item padd-15">
                <div class="portfolio-item-inner shadow-dark">
                    <div class="portfolio-img">
                        <img src="" alt="image 6">
                    </div>
                </div>
            </div> -->
                </div>
            </div>
        </section>
    </div>
</body>